<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjx.statistics.mapper.StatisticsMetaColumnMapper">
    <resultMap id="BaseResultMap" type="com.zjx.statistics.domain.StatisticsMetaColumn">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="statistics_meta_id" property="statisticsMetaId" jdbcType="INTEGER"/>
        <result column="statistics_column" property="statisticsColumn" jdbcType="VARCHAR"/>
        <result column="statistics_status_column" property="statisticsStatusColumn" jdbcType="VARCHAR"/>
        <result column="statistics_status_column_value" property="statisticsStatusColumnValue" jdbcType="VARCHAR"/>
        <result column="persistence_column" property="persistenceColumn" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="update_time" property="updateTime" jdbcType="DATE"/>
    </resultMap>

    <sql id="baseColumn">
        id, statistics_meta_id, statistics_column, statistics_status_column, statistics_status_column_value, persistence_column, create_time, update_time
    </sql>

    <select id="selectAllByMetaId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="baseColumn"/>
        from statistics_meta_column
        where statistics_meta_id = #{id}
    </select>
</mapper>