<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjx.statistics.mapper.StatisticsFieldMapper">
    <resultMap id="BaseResultMap" type="com.zjx.statistics.domain.StatisticsField">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="category_id" property="categoryId" jdbcType="INTEGER"/>
        <result column="expired" property="expired" jdbcType="INTEGER"/>
        <result column="data_type" property="dataType" jdbcType="INTEGER"/>
        <result column="cache_field" property="cacheField" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="update_time" property="updateTime" jdbcType="DATE"/>
    </resultMap>

    <sql id="baseColumn">
        id, category_id, cache_field, description, expired, data_type, create_time, update_time
    </sql>

    <!--获取所有需要统计的 field-->
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="baseColumn"/>
        from statistics_field
    </select>

    <!--根据 cacheField 获取信息-->
    <select id="selectByCacheField" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="baseColumn"/>
        from statistics_field
        where cache_field = #{cacheField}
    </select>
</mapper>